.destination-container {
    width: 100%;
    min-height: 100vh;
    background-image: url("../assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 212px 10% 112px 10%;
    overflow-x: hidden;
}

.destination-title {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.75rem;
    letter-spacing: 4.72px;
    color: #FFF;
    text-transform: uppercase;
}

.destination-title strong {
    font-weight: 700;
    opacity: 0.25;
    margin-right: 30px;
}

.destination-wrapper {
    margin-top: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.destination-image {
    position: relative;
    width: 445px;
    height: 445px;
    pointer-events: none;
}

.destination-image img {
    position: absolute;    
    min-width: 100%;
    min-height: 100%;
    transition: all 1s ease-in-out;
    pointer-events: none;
}

.destination-image .destination-not-selected-right {
    left: 1000%;
}

.destination-image .destination-not-selected-left {
    left: -1000%;
}

.destination-image .destination-selected {
    left: 0%;
}

.destination-info {
    position: relative;
    width: 445px;
    z-index: 9;
}

.destination-menu {
    display: flex;
    gap: 35px;
    height: 34px;
    margin-bottom: 34px;
}

.destination-menu li {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 2.7px;
    color: #FFF;
    text-transform: uppercase;
    transition: border-bottom 0.2s ease-in-out;
    cursor: pointer;
}

.selected {
    border-bottom: 3px solid #FFF;
}

.destination-dest {
    opacity: 0;
    display: none;
    font-family: "Bellefair", sans-serif;
    font-weight: 400;
    font-size: 6.25rem;
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 14px;
    animation: fadeInDest 1s ease forwards;
    display: block;
}

.destination-desc {
    opacity: 0;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 32px;
    color: #D0D6F9;
    margin-bottom: 54px;
    animation: fadeInDest 1s ease 0.5s forwards;
}

.destination-specs {
    opacity: 0;
    animation: fadeInDest 1s ease 1s forwards;
}

.destination-line {
    width: 100%;
    height: 1px;
    background-color: #383B4B;
    margin-bottom: 30px;
}

.destination-specs-wrapper {
    display: flex;
    align-items: center;
    gap: 80px;
}

.destination-dist-div h3,
.destination-travel-div h3 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 2.36px;
    text-transform: uppercase;
    color: #D0D6F9;
    margin-bottom: 12px;
}

.destination-dist-div h2,
.destination-travel-div h2 {
    font-family: "Bellefair", sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    text-transform: uppercase;
    color: #FFF;
}

@media screen and (max-width: 1160px) {
    .destination-wrapper {
        flex-direction: column;
        gap: 50px;
    }

    .destination-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .destination-desc {
        text-align: center;
    }

    .destination-specs {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .destination-dist-div,
    .destination-travel-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .destination-container {
        background-image: url("../assets/destination/background-destination-tablet.jpg");
        padding: 136px 5% 62px 5%;
    }

    .destination-title {
        font-size: 1.25rem;
        letter-spacing: 3.38px;
    }

    .destination-title strong {
        margin-right: 20px;
    }

    .destination-wrapper {
        margin-top: 60px;
    }

    .destination-image {
        width: 300px;
        height: 300px;
    }

    .destination-image img {
        width: 300px;
        height: 300px;
    }

    .destination-info {
        width: 90%;
    }

    .destination-menu {
        margin-bottom: 32px;
    }

    .destination-dest {
        font-size: 5rem;        
    }

    .destination-desc {
        font-size: 1rem;
        line-height: 28px;
        margin-bottom: 49px;
    }
}

@media screen and (max-width: 600px) {
    .destination-container {
        padding: 88px 5% 58px 5%;
        background-image: url("../assets/destination/background-destination-mobile.jpg");
    }

    .destination-title {
        text-align: center;
        font-size: 1rem;
        letter-spacing: 2.7px;
    }

    .destination-title strong {
        margin-right: 18px;
    }

    .destination-wrapper {
        margin-top: 32px;
        gap: 26px;
    }

    .destination-image {
        width: 170px;
        height: 170px;
    }

    .destination-image img {
        width: 170px;
        height: 170px;
    }

    .destination-info {
        width: 100%;
    }

    .destination-menu {
        gap: 26px;
    }

    .destination-menu li {
        font-size: 0.875rem;
        letter-spacing: 2.36px;
    }

    .destination-dest {
        font-size: 3.5rem;
        text-align: center;
    }

    .destination-desc {
        font-size: 0.9375rem;
        line-height: 25px;
        margin-bottom: 32px;
    }

    .destination-specs-wrapper {
        flex-direction: column;
        gap: 32px;
    }
}

@keyframes fadeInDest {
    from {
        display: none;
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        display: block;
        transform: translateY(0px);
        opacity: 1;
    }
}